*, body {
 margin: 0;
 padding: 0;
 font-family: Arial,sans-serif;
 font-size: 8px;
}

main {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background-color: rgb(34, 34, 34)
}

#svg-container {
    height: 100%;
    padding: 5em;
    background-color: rgb(34, 34, 34);

    border: 1px solid green;

    /*helps with tooltip mispositioning, especially when resizing viewport */
    /* unhelpful when using 'd3.event.pageX/Y'
    /*position: relative;*/
}

svg {
    border: 1px solid orange;
}

.game-title{
    cursor: default;
}

#title {
    font-size: 6em;
}

#description {
    font-size: 2.5em;
}

div#tooltip {  
    font-size: 2em;
    padding: 10px;
    color: white;
    background-color: gray;
    border-radius: 5px;
    position: absolute;
    pointer-events: none;    
    font-weight: bold;
  }